body {
    margin: 0;
}

#wrapper {
    width: 500px;
    margin: 50px auto;
    border: 1px solid #999;
    position: relative;
    padding: 20px;
}

.form-row {
    margin-bottom: 10px;
}

.button {
    background-color: #005CC8;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #024ca8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#pricecontainer {
    display: inline-block;
    background-color: bisque;
    padding: 10px 20px;
    border-radius: 10px;
    width: 50px;
    text-align: center;
}
